In [76]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
%matplotlib inline

In [77]:
df = pd.read_csv('single_family_home_values.csv') #zillow

In [78]:
df.head(2)

,id,address,city,state,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleDate,lastSaleAmount,priorSaleDate,priorSaleAmount,estimated_value
0,39525749,8171 E 84th Ave,Denver,CO,80022,39.84916,-104.893468,3,2.0,6,1378,9968,2003.0,2009-12-17,75000,2004-05-13,165700.0,239753
1,184578398,10556 Wheeling St,Denver,CO,80022,39.88802,-104.830930,2,2.0,6,1653,6970,2004.0,2004-09-23,216935,NaN,NaN,343963

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 18 columns):
id                 15000 non-null int64
address            15000 non-null object
city               15000 non-null object
state              15000 non-null object
zipcode            15000 non-null int64
latitude           14985 non-null float64
longitude          14985 non-null float64
bedrooms           15000 non-null int64
bathrooms          15000 non-null float64
rooms              15000 non-null int64
squareFootage      15000 non-null int64
lotSize            15000 non-null int64
yearBuilt          14999 non-null float64
lastSaleDate       15000 non-null object
lastSaleAmount     15000 non-null int64
priorSaleDate      11173 non-null object
priorSaleAmount    11287 non-null float64
estimated_value    15000 non-null int64
dtypes: float64(5), int64(8), object(5)
memory usage: 1.8+ MB

In [80]:
df.describe()

,id,zipcode,latitude,longitude,bedrooms,bathrooms,rooms,squareFootage,lotSize,yearBuilt,lastSaleAmount,priorSaleAmount,estimated_value
count,1.500000e+04,15000.000000,14985.000000,14985.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.00000,14999.000000,1.500000e+04,1.128700e+04,1.500000e+04
mean,5.176229e+07,80204.919467,39.740538,-104.964076,2.708400,2.195067,6.164133,1514.504400,5820.76620,1929.517168,4.053563e+05,2.594350e+05,6.371625e+05
std,6.190876e+07,9.715263,0.023555,0.039788,0.897231,1.166279,1.958601,830.635999,3013.27947,29.937051,7.756998e+05,3.379387e+05,5.044185e+05
min,1.433670e+05,80022.000000,39.614531,-105.108440,0.000000,0.000000,0.000000,350.000000,278.00000,1874.000000,2.590000e+02,0.000000e+00,1.477670e+05
25%,1.004802e+07,80205.000000,39.727634,-104.978737,2.000000,1.000000,5.000000,986.000000,4620.00000,1907.000000,1.940000e+05,1.100000e+05,3.984348e+05
50%,2.563241e+07,80206.000000,39.748048,-104.957689,3.000000,2.000000,6.000000,1267.500000,5950.00000,1925.000000,3.200000e+05,2.100000e+05,5.183575e+05
75%,5.114222e+07,80207.000000,39.758214,-104.937522,3.000000,3.000000,7.000000,1766.250000,6270.00000,1949.000000,4.632000e+05,3.302400e+05,6.879692e+05
max,3.209481e+08,80209.000000,39.888020,-104.830930,15.000000,12.000000,39.000000,10907.000000,122839.00000,2016.000000,4.560000e+07,1.600000e+07,1.014531e+07

In [81]:
x = df.drop('estimated_value', axis = 1) #drops off the column with the heading 'estimated_value'

In [82]:
X = X[['bedrooms', 'bathrooms', 'rooms', 'squareFootage', 'lotSize', 'yearBuilt', 'priorSaleAmount']]
#slice the df to only include the columns above

In [83]:
X.fillna(0, inplace=True)

In [87]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(X)

In [88]:
kmeans

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=0, tol=0.0001, verbose=0)

In [89]:
labels = kmeans.labels_

In [90]:
kmeans.cluster_centers_[0]

array([3.31226296e+00, 3.83944374e+00, 8.42730721e+00, 2.69720607e+03,
       6.97174968e+03, 1.94200506e+03, 7.43586930e+05])

In [91]:
X['cluster'] = labels

In [98]:
X.groupby('cluster').max()

KeyError: 'cluster'

In [99]:
X = X.drop('cluster', axis =1)

KeyError: "['cluster'] not found in axis"

In [100]:
from sklearn.metrics import silhouette_score

In [101]:
for i in range(3,10):
    kmeans = KMeans(n_clusters=i).fit(X)
    labels = kmeans.labels_
    print silhouette_score(X, labels)

SyntaxError: invalid syntax (<ipython-input-101-108087efd87e>, line 4)