In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

%matplotlib inline

In [2]:
inp_df = pd.read_csv(r'TimeStamp_clients.csv')

Preprocessing data - deleted unnecessary columns to reduce noise

In [3]:
inp_df = inp_df.drop(['Suffix'], axis = 1)
inp_df = inp_df.drop(['Zip'], axis = 1)
inp_df = inp_df.drop(['Birthdate'], axis = 1)
inp_df = inp_df.drop(['Gender'], axis = 1)
inp_df = inp_df.drop(['Race'], axis = 1)
inp_df = inp_df.drop(['Creatingagency'], axis = 1)
inp_df = inp_df.drop(['Visitdt'], axis = 1)
inp_df = inp_df.drop(['Visittm'], axis = 1)
inp_df["Fullname"] = inp_df["Firstname"] +' '+inp_df["Lastname"]
inp_df = inp_df.drop(['Lastname'], axis = 1)
inp_df = inp_df.drop(['Firstname'], axis = 1)
temp = inp_df['Scandatetime'].str.split(' ')
inp_df['Scandate'] = temp.str.get(0)
inp_df = inp_df.drop(['Scandatetime'], axis = 1)
inp_df = inp_df[inp_df['Entrydate'].notnull()]
inp_df['Entrydate'] = pd.to_datetime(inp_df['Entrydate'])
inp_df['Scandate'] = pd.to_datetime(inp_df['Scandate'])
inp_df['Difference'] = inp_df.groupby(['Fullname'])['Scandate'].apply(lambda x: x.diff())
inp_df['Year'] = inp_df['Scandate'].dt.to_period('Y')

In [11]:
inp_df.head(6)

   Entrydate         Fullname   Scandate Difference
0 2017-12-20      Ivan Castro 2018-01-02        NaT
1 2017-10-23     Carlos Ramos 2018-01-02        NaT
2 2014-04-12  Richard Bennett 2018-01-02        NaT
3 2017-06-25    Francis Lewis 2018-01-02        NaT
4 2017-09-03   Daniel Deramus 2018-01-02        NaT
5 2017-05-25       Rena Davis 2018-01-02        NaT

In [16]:
inp_df[inp_df['Fullname'] == "Francis Lewis"]

       Entrydate       Fullname   Scandate Difference
3     2017-06-25  Francis Lewis 2018-01-02        NaT
30192 2017-06-25  Francis Lewis 2018-06-09   158 days
43320 2017-06-25  Francis Lewis 2018-08-11    63 days

In [24]:
inp_df = inp_df.groupby(['Fullname', 'Year']).size().reset_index(name='Size')

                     Fullname  Year  Size
0             Melissa Roberts  2018     3
1           Timmon Wyane Hall  2018    11
2           Timmon Wyane Hall  2019     6
3             Vanessa Polanco  2018     1
4                douglas swab  2018     2
5                douglas swab  2019     3
6               ivonna molina  2019     2
7                 A Mu Miller  2018     1
8                 AARON STOCK  2018     1
9                 ABDUL SALAM  2018    55
10                ABDUL SALAM  2019    36
11              ACETHA ERNEUS  2018     1
12              ACETHA ERNEUS  2019     1
13            ADELINE GODFREY  2018     2
14            ADELINE GODFREY  2019     8
15             ADRIANNE KEETS  2018     4
16             ADRIANNE KEETS  2019     1
17          ADRIENNE  GARRETT  2018     1
18               AGNES MUNFUS  2018     2
19            AGUSTIN MOREIRA  2018     1
20                 AHA Romero  2018     8
21           AKIWOWO PRESSLEY  2018     1
22            ALBERT BASCOMBE  2018    91
23            ALBERT BASCOMBE  2019    64
24     ALBERTO HERNANDEZ-RUIZ  2018     2
25     ALBERTO HERNANDEZ-RUIZ  2019    10
26                ALBERTO PAZ  2019     1
27          ALEJANDRO CARTAYA  2019     1
28            ALETA  BRINKLEY  2018     1
29            ALETA  BRINKLEY  2019     1
..                        ...   ...   ...
70  ANGELICA RODRIGUEZ-GARCIA  2019     1
71             ANGELIQE ZIQUI  2019     1
72              ANGILA BAXTER  2018     4
73               ANITA HARRIS  2018     2
74               ANN CHAMARRO  2018     1
75                ANN DESOUSA  2019     1
76               ANN GONZALEZ  2018    15
77               ANN GONZALEZ  2019     3
78                 ANNA SEARS  2019     7
79                ANNIE CLARK  2018     2
80                ANNIE CLARK  2019     1
81       ANNTOINETTE FLORENCE  2018     1
82              ANTHONY BORCK  2018     1
83                ANTHONY COX  2018     1
84                ANTHONY COX  2019     1
85          ANTONETTE ABBALEO  2018    24
86          ANTONETTE ABBALEO  2019    15
87             ANTONIA GERVIN  2018     1
88             ANTONIO GUZMAN  2018    23
89             ANTONIO GUZMAN  2019    24
90           AOMER BOUMARIAME  2018    10
91           AOMER BOUMARIAME  2019     9
92                APRIL BURNS  2018     1
93              ARCHIE KENNIE  2018    13
94              ARCHIE KENNIE  2019    15
95                ARIANNA DOT  2018     1
96           ARISLEYDA ALEMAN  2018     2
97             ARMANDO AQUINO  2018     1
98             ARMANDO AQUINO  2019     3
99              ARMANDO MUNIZ  2019     8

[100 rows x 3 columns]