In [57]:
from bs4 import BeautifulSoup as bs4  #webscraping module 
import requests  # get content from the url
import pandas as pd  # convert data to excel etc...
import json
import re


url = ["https://streeteasy.com/building/10-hanover-square-new_york", "https://streeteasy.com/building/63-wall-street-new_york","https://streeteasy.com/building/180-water-street-new_york","https://streeteasy.com/building/95-wall-street-new_york"]
unit = [] 
Property = [] 
prices = [] 
SQF = [] 
priceSQF = []
Floor = []
room = []


for item in url: 
    page = requests.get(item)
    soup = bs4(page.text, 'html.parser')
#     print(soup.prettify())

    for i in soup.findAll('div', class_='ActiveListingsUnit-itemPrice'):
        price = i.getText()
        cleanPrice = re.sub("\D", "", price)
        convertedPrice = int(cleanPrice)
        prices.append(convertedPrice)
        continue
    for a in soup.findAll('a', class_='ActiveListingsUnit-address'):
        u = a.getText()
        v, w = u.split('-')
        unit.append(v)
        Property.append(w)

    for b in soup.findAll('div', class_='ActiveListingsUnit-itemProperties'):
        r = b.getText()
        cleanRoom = re.sub('\W', '', r)
        room.append(cleanRoom)
    for c in soup.findAll('td', class_='hidden-xs BuildingUnit-square'):
        q = c.getText()
        cleanq = re.sub('\D', '', q)
        SQF.append(cleanq)

In [58]:
Property

[' 10 Hanover Sq',
 ' 10 Hanover Sq',
 ' 10 Hanover Sq',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 10 Hanover Square',
 ' 63 Wall Street',
 ' 63 Wall Street',
 ' 63 Wall Street',
 ' 63 Wall Street',
 ' 63 Wall Street',
 ' 63 Wall Street',
 ' 113 Nassau Street',
 ' 113 Nassau Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 180 Water Street',
 ' 95 Wall Street',
 ' 95 Wall Street',
 ' 95 Wall Street',
 ' 95 Wall Street',
 ' 95 Wall Street',
 ' 95 Wall Street']

In [59]:
data ={'Unit': unit,'Prices': prices, 'Room':room, 'SQF':SQF, 'Property': Property}
df = pd.DataFrame(data = data)
df.index+= 1

df

      Unit  Prices         Room   SQF            Property
1     #2E     6600    1bed1bath   782       10 Hanover Sq
2     #6H     5700    1bed1bath   665       10 Hanover Sq
3     #8L     5600    1bed1bath   667       10 Hanover Sq
4     #6G     4922    1bed1bath   738   10 Hanover Square
5    #16F     4802    1bed1bath   781   10 Hanover Square
6     #7I     4468    1bed1bath   833   10 Hanover Square
7    #20H     4129    1bed1bath   665   10 Hanover Square
8    #18L     3991    1bed1bath   667   10 Hanover Square
9     #7K     3526  studio1bath   677   10 Hanover Square
10   #15Y     3459  studio1bath   582   10 Hanover Square
11    #6R     3392  studio1bath   560   10 Hanover Square
12   #14R     3265    1bed1bath   560   10 Hanover Square
13   #16X     3093  studio1bath   431   10 Hanover Square
14  #1613     5770  2beds2baths   856      63 Wall Street
15   #605     4642   2beds1bath   682      63 Wall Street
16  #1805     4000    1bed1bath   500      63 Wall Street
17  #3404     3781    1bed1bath   607      63 Wall Street
18  #2202     3555    1bed1bath   517      63 Wall Street
19  #1015     2616  studio1bath   391      63 Wall Street
20   #28F     6495  2beds2baths         113 Nassau Street
21    #9G     3800    1bed1bath   800   113 Nassau Street
22   #410     7572  3beds3baths  1279    180 Water Street
23   #410     7571  3beds3baths          180 Water Street
24  #1709     7118  3beds3baths  1237    180 Water Street
25   #206     6150    1bed1bath   550    180 Water Street
26  #2013     5977  2beds2baths  1013    180 Water Street
27  #1213     5486  2beds2baths  1013    180 Water Street
28  #1406     5400    1bed1bath   550    180 Water Street
29  #1601     5138   1bed2baths   917    180 Water Street
30   #801     5028   1bed2baths   917    180 Water Street
31   #315     4725   1bed2baths   849    180 Water Street
32   #516     4244    1bed1bath   730    180 Water Street
33   #908     3777    1bed1bath          180 Water Street
34  #2118     3570  studio1bath   524    180 Water Street
35  #1817     3470  studio1bath   679    180 Water Street
36   #517     3323  studio1bath   679    180 Water Street
37  #2604     3295  studio1bath   444    180 Water Street
38  #1304     3153  studio1bath   444    180 Water Street
39  #2002     2988  studio1bath   450    180 Water Street
40  #2421     2833  studio1bath   390    180 Water Street
41   #903     2759  studio1bath          180 Water Street
42   #421     2681  studio1bath          180 Water Street
43  #1710     3556  studio1bath   583      95 Wall Street
44   #810     3544    1bed1bath   576      95 Wall Street
45   #210     3389  studio1bath   576      95 Wall Street
46  #1418     2955  studio1bath   464      95 Wall Street
47   #318     2940  studio1bath   464      95 Wall Street
48   #518     2925  studio1bath   464      95 Wall Street

In [53]:
df.to_excel("C:/Users/14078/PycharmProjects/Data_Mining/nyclistings.xlsx")